{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
	<section id="admin">
		<div class="container">
			<div class="admin">
				<div class="row">
					<div class="col-md-9">
						<div class="admin__main">
							<div class="admin__title">Статистика</div>
							<hr class="hr">
							<div class="admin__main_block">
								<div class="admin__main_block__items">
									<div class="admin__main_monthPrise admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Сумма оплат за месяц</div>	
										<div class="admin__main_monthPrise__sum">{{ total_price }}</div>
									</div>
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Посещений за месяц</div>	
										<div class="admin__main_monthPrise__sum">{{ user_count }}</div>
									</div>
								</div>
								<div class="admin__main_block__items">
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Посещений за год</div>	
										<div class="admin__main_monthPrise__sum">{{ user_count }}</div>
									</div>
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Процент посещений за месяц</div>	
										<div class="admin__main_monthPrise__circle">100%</div>
									</div>
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Процент посещений за год</div>	
										<div class="admin__main_monthPrise__circle">100%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> 
</body>
{% endblock %}