{% extends 'base.html' %}
{% load static %}

{% block title %}BeautyCity | Подтверждение записи{% endblock %}

{% block content %}
	<section id="serviceFinally">
		<div class="container">
			<div class="serviceFinally">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="breadCrumbs">
              <a href="{% url 'index' %}" class="breadCrumbs__item">На главную</a>
						</div>
						<div class="service__block">
							<h1 class="service__title">Запись на услугу</h1>
						</div>
            <form action="" class="serviceFinally__form" method="post">
              {% csrf_token %}
							<div class="serviceFinally__form_block">
								<div class="serviceFinally__form_header fic">
									<span class="serviceFinally__form_header__number">Запись</span>
									<div class="serviceFinally__form_header__item fic">
                    <div class="serviceFinally__form_header__service">{{ saloon.name }}</div>
                    <div class="serviceFinally__form_header__address">{{ saloon.address }}</div>
									</div>
								</div>
								<div class="serviceFinally__form_content">
									<div class="serviceFinally__form_content__block fic">
                    <div class="serviceFinally__form_content__title">{{ service.name }}</div>
                    <div class="serviceFinally__form_content__price">{{ service.price }} ₽</div>
									</div>
									<div class="serviceFinally__form_content__block fic">
										<div class="serviceFinally__form_content__items fic">
                      {% if master.avatar %}
                        <img src="{{ master.avatar.url }}" alt="avatar" class="accordion__block_img">
                      {% else %}
										  	<img src="" alt="avatar" class="accordion__block_img">
                      {% endif %}
                        <div class="accordion__block_master">{{ master.full_name }}</div>
									    </div>
									    <div class="serviceFinally__form_content__item fic">
                        <div class="serviceFinally__form_content__time">{{ time }}</div>
                        <div class="serviceFinally__form_content__date">{{ date }}</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="serviceFinally__form_itesm">
								<div class="contacts__form_checkboxBlock fic">
									<input type="checkbox" class="contacts__form_checkbox" checked="">
									<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфиденциальности</span>
								</div>
                <button type="submit" class="serviceFinallys__form_btn">Записаться</button>
                <button type="button" class="serviceFinallys__form_back" onclick="location.href='{% url 'service' %}'">Назад</button>
							</div>
						</form>	
					</div>
					<div class="col-md-12 col-lg-5">
						<img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
